{% block footer %}
  <footer class="bg-light">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-12">
          <small>
            © {% now "Y" %} ExploServe. <br>Developed by Romanus Edy Prabowo using Python and Django.<br>
            The theme uses Bootswatch Sandstone (code by <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE" rel="nofollow">Thomas Park</a>) based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>.<br>
            Icons from <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a> and web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.
          </small>
        </div>        
      </div>
    </div>
  </footer>
{% endblock %}